/* header related kag */

header {
    background-color: rgba(205, 161, 171, 0.1);
    width: 1150px;


}

.banner {
    display: flex;
    margin: 0px 140px;
    gap: 150px;

}

.banner-tools {
    margin-top: 50px;
}

.banner-description {
    text-align: justify;
}

.btn-primary {
    background: #E55473;
    border: 0px;
    font-size: 20px;
    font-weight: 700;
    color: white;
    border-radius: 5px;
    padding: 10px 20px;
}


/* main part ar kag */

.middle-part {
    text-align: center;
    margin: 80px 300px;
    font-size: 14px;
    color: rgb(24, 25, 27);
}

/* main-card-part */
.main-card {
    display: flex;
    margin: 20px 100px;
    padding: 0px 30px;
    gap: 70px;
}

.card-1 {
    width: 264px;
    height: 338px;
    flex-shrink: 0;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15)
}

.card-2 {
    width: 264px;
    height: 338px;
    flex-shrink: 0;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
}

.card-3 {
    width: 264px;
    height: 338px;
    flex-shrink: 0;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}

.flower {
    width: 170px;
    height: 250px;
    flex-shrink: 0;
    margin-top: 88px;
    padding-left: 50px;
}

.card-title {
    padding-left: 75px;
}

/* <!-- section-2nd part ar kag --> */
.life {
    display: flex;
    padding: 115px;
    width: 870px;

}

.life-history {
    padding: 25px;
    text-align: justify;
}

.life-img {
    width: 270px;
    height: 300px;
    flex-shrink: 0;
    margin-top: 30px;
    padding-left: 20px;
}

/* banner-hot ar kag */
.banner-backside {
    width: 1150px;
}
.hot-color{
    color: #c43e5b;
}
.banner-hot {
    display: flex;
    padding: 145px;
    margin-bottom: 50px;
    gap: 50px;
}
.Hot-Deal-taitle{
    font-family: Lato;
    font-size: 28px; 
}
.Hot-Deal {
    text-align: center;
    font-size: 14px;
}

.Hot-Deal-image {
    width: 188px;
    height: 280px;
}

/* mini-description */
/* middle-part-nama uppora dawa aca */

/* 4-part card ar kag */
.mimi-part-back {
    background-color: #FFF;

}

.middle-part {
    width: 570px;
    height: 48px;
}

.card {
    display: flex;
    border: 3317px 1338px;
}

.card-part {
    margin: 20px;
    padding-left: 60px;
}

.picture {
    width: 170px;
    height: 220px;
}

/* last-image-part */
.last-image {
    background-image: url(../images/Rectangle\ 9.png);
    background-repeat: no-repeat;
    border-radius: 8px;
    height: 300px;
    width: 980px;
    margin-left: 80px;
    text-align: center;
}

.image-title {
    padding-top: 80px;
    font-size: 36px;
    margin-bottom: 0px;
}

.emaill {
    padding: ;
    width: 400px;
    height: 34px;
}

.information {
    margin-top: 25px;
    align-items: center;
}

/* footer ar kag */
footer {
    background-color: black;
    width: 1150px;
    height: 400px;
}

.footer-heading {
    color: #E55473;
    text-align: center;
    font-family: Lato;
    font-size: 48px;
    font-style: normal;
    padding-top: 80px;
}
.shop{
    color: #FFF;
}

.footer-describe {
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-family: Lato;
    font-size: 13px;
    padding: 0px 380px;
}

.small-tag {
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-family: Lato;
    font-size: 16px;
}